* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $text-dark;
    background: linear-gradient(135deg, #FCE7F3 0%, #F9C5D1 50%, #FDE9F3 100%);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: $font-heading;
}

html {
  scroll-behavior: smooth;
}

section {
    padding: $section-padding;
    text-align: center;
}
