* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $text-dark;
    background: $pink-light;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: $font-heading;
}
