.hero__button {
    background: $pink-accent;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    color: $white;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 600;
}

.hero__button:hover {
    background-color: rgb(250, 205, 223);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
}

.hero__image{
    width: 300px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}