.hero__button {
    background: $pink-accent;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    color: $white;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 600;
}

.hero__image{
    width: 300px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}