section{
    padding: 20rem 2rem;
}

// ==== HERO SECTION ===
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 20rem 1.5rem;
    gap: 10rem;
}

.hero__content {
    background: linear-gradient(135deg, #FCE7F3 0%, #fddff0 50%, #FDE9F3 100%);
    padding: 5rem;
    border-radius: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

// ===== NAVBAR =====

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    position: fixed;
    top: 0%;
    width: 100%;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.navbar__link {
    width: 50px;
    height: 50px;
    margin-top: 10px;

    display: flex;                
    align-items: center;
    justify-content: center;

    border: 3px solid rgb(246, 246, 246);
    border-radius: 16px;            
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    background-color: rgba(255, 255, 255, 0.3);   
    transition: 0.2s ease;
}

.navbar__link:hover {
    background-color: rgb(250, 205, 223);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar__link i {
    font-size: 1.3rem;
    color: #4A107D;   
}


// ==== SKILLS SECTION ====

.skills__grid {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;  
  max-width: 800px;   
  margin: 0 auto;    
  padding-top: 2rem; 
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;  
  border: 3px solid your-pink;  
  border-radius: 16px;

  font-size: 1.1rem;
  font-weight: 600;
  color: your-purple;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.2s ease;
}

.skills__item:hover {
  background-color: rgb(250, 205, 223); 
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
